.registerMain {
    height: 100vh;
    padding:0;
    margin:0;
    background-color: black;
}

.register {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
}

.paddingX {
    padding-left: 100px;
    padding-right: 100px;

}

.imageSignUp {
       background-image: url("./main.jpeg");
       background-position:center;
       background-repeat: no-repeat;
       background-size: cover;
   }

   .btnRegister {
       background:linear-gradient(135deg, rgb(151, 230, 233) 0%, rgb(172, 233, 103) 100%);
   }

   .btnRegister:hover {
       background: linear-gradient(135deg, rgb(82, 221, 226) 0%, rgb(33, 173, 108) 100%);
       color: white;
   }

   @media only screen and (max-width: 374px){
       body{
           font-size: 12px;
        }
        h2 {
            font-size: 25px;
        }
   }
   @media only screen and (max-width: 700px){
    .paddingX {
        padding-left: 50px;
        padding-right: 50px;
    }
    
   }

   @media only screen and (max-width: 575px) {
    .imageSignUp {
        display: none;
    }
   }

   .sidebarLeft {
       position: fixed;
       background-color: #000000;
       height: 100vh;
       top: 0px;
       left: 0px;
       justify-content: center;
       align-items: center;
   }

   .contentRight {
        position: absolute;
        right: 0;
        
   }

   .avatarPro {
       width:100px;
       height:100px;
       margin-top:30px; 
   }

    .colorBtnDark {  
        background-color: #00796b  !important;
    }

    .colorTabLight {
        color: white;
    }
    .colorTabLight:hover {
        color: white;
    }

    .colorTabLight:focus {
        background-color: rgb(99, 235, 219) !important;
        color: #00796b !important; 
    }


    .btnClass {
        border: none;
    }

    .btnClass:hover {
        background-color:rgb(99, 235, 219) !important;
        color: #00796b; 
    }   

    .imgArticle {
        height:300px;
    }

    .mbCard {
        margin-bottom: 20px;
    }

    .mtContent {
        margin-top: 30px;
    }