<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s4 push-s4 center">
                <div class="card">
                    <div class="card-content">
                        <h1 class="teal-text darken-2">مدیریت</h1>
                        <form method="post" action="createAdmin">
                            <div class='row'>
                                <div class='input-field col s12 rtl'>
                                    <input class='validate' type="text" name='username' id="username" required />
                                    <label for='username'>نام کاربری</label>
                                </div>
                            </div>
                            <div class='row'>
                                <div class='input-field col s12 rtl'>
                                    <input class='validate' type="password" name='password' id="password" required />
                                    <label for='password'>گذرواژه</label>
                                </div>
                            </div>
                            <div class='row'>
                                <div class="col s12">
                                    <button  type='submit' class='btn btn-small teal darken-2
                                white-text  waves-effect z-depth-1 y-depth-1'>ورود</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>