body {
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black !important;
  height:100%;
}

 ul li a {
  color: white !important;
}

.navGuestPage {
  background-color: #00BFA5 !important;
}


