body {
  padding-top: 55px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black !important;
  height:100vh;
}

 ul li a {
  color: white !important;
}

.navGuestPage {
  background-color: #00BFA5 !important;
}

.imgArticle {
  height:300px;
}

.linkback {
  padding: 10px;
  background-color: #00BFA5;
  color:white;
  border-radius: 3px;
}

.linkback:hover {
  background-color: #00796b;
  color: white;
  text-decoration: none;
}

.paginate {
  display: inline;
  padding:2px 9px 2px 9px;
  border-radius: 3px;
  background-color: #00BFA5;
  color: white;
  margin: 4px;
}

.paginate:hover {
  background-color: #00796b;
}

.linkPage:hover {
  text-decoration: none;

}