body {
  padding-top: 55px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black !important;
  height:100%;
}

 ul li a {
  color: white !important;
}

.navGuestPage {
  background-color: #00BFA5 !important;
}

.imgArticle {
  height:300px;
}

.linkback {
  padding: 10px;
  background-color: #00BFA5;
  color:white;
  border-radius: 3px;
}

.linkback:hover {
  background-color: #00796b;
  color: white;
  text-decoration: none;
  

}

